<div class="main">
  <div class="status" *ngIf="status">
    <span *ngIf="status === 'top'">Scrolled to the Top</span>
    <span *ngIf="status === 'bottom'">Scrolled to the Bottom</span>
    <span *ngIf="status === 'middle'">Scrolled somewhere in the middle</span>
  </div>
  <div class="scroll-container">
    <div class="shadow"></div>
    <div class="scroll-up-note">
      <span (click)="scrollToTop()"><b>Scroll Up</b> to See <b>More</b></span>
    </div>
    <div class="scroll-content">
      <span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate sapiente quaerat ab, voluptas facere nulla neque, nostrum impedit ipsam iste voluptatibus? Omnis veniam dolor dicta tempora et commodi voluptas voluptatum?
        Harum reiciendis aliquam minus, perspiciatis quidem in corporis ab sed neque quod sequi cum quas repellat eligendi animi, voluptatum earum accusantium saepe adipisci. Quas voluptatum reiciendis sint nam praesentium dolore?
        Quisquam molestias labore esse cum quas voluptas quasi. Cum, aperiam. Magnam fugiat mollitia temporibus consectetur eos, voluptates quia aliquam maiores minus voluptatum placeat nobis? Amet tenetur iure nam eligendi ullam.
        Minus optio eaque nihil cum, ullam cumque voluptate consequatur animi, quisquam facere, voluptas at? Cupiditate consectetur dicta nemo sequi impedit. Officia quas ex aut quam cum, corporis fugit aspernatur quasi!
        Consequatur aperiam voluptas dolorum saepe nisi, eos iure. Perferendis, aspernatur officia dolor ratione velit aliquam assumenda cum delectus et id dolorem vel corrupti repellat magnam eveniet odit nobis minus! Expedita!
        Recusandae eligendi incidunt tempore expedita voluptatum eaque ratione. Cupiditate quisquam eaque nobis itaque voluptate dolore eveniet voluptates fugit facere. Omnis distinctio voluptas nemo sapiente nam sit porro maxime blanditiis amet.
        Incidunt reiciendis dolores vitae beatae. Eaque dignissimos dicta sunt quo unde beatae nobis aut, officiis corporis culpa perspiciatis harum! Alias repellat quam eligendi sed aliquid, amet assumenda fugit inventore nostrum?
        Sequi, voluptatibus? Libero amet ea, aliquid iusto neque minus voluptatibus nesciunt maiores exercitationem? Vitae porro iste iure sint odio, architecto itaque et, culpa error libero placeat, voluptatem ab! Commodi, vitae!
        Consequatur ipsum odit deserunt quod illum nesciunt commodi quidem corrupti voluptate tenetur qui dolore, suscipit aspernatur eos, necessitatibus laborum, est asperiores quasi facilis molestias expedita praesentium dignissimos illo. Perferendis, modi.
        Ullam cum, praesentium reiciendis officia deserunt maiores tempora corrupti dicta recusandae quidem architecto est ut vero doloremque perspiciatis, voluptatem earum dolore adipisci excepturi rerum! Vitae quo adipisci vel ad. Ut.
        Similique quo minima, vitae cum fugit deleniti itaque, nesciunt iure accusantium sed praesentium nihil iste dolore repudiandae possimus, voluptates accusamus eum culpa sit! Ea reprehenderit, odio exercitationem laudantium adipisci rem.
        Nisi hic rerum maiores similique in nihil veniam libero debitis minima veritatis! Eligendi quod pariatur, quo est laborum iste accusamus inventore eaque temporibus quasi asperiores, exercitationem architecto iure, aspernatur nisi!
        Veniam voluptatum magnam asperiores hic odit pariatur reprehenderit ex harum beatae animi recusandae molestias laborum doloribus sapiente cum numquam, quas facere totam, exercitationem quis aspernatur? Vitae amet recusandae eum magni.
        Error, officia exercitationem incidunt magni ad doloribus eos porro, corrupti voluptatum quia quae, nesciunt maiores. Neque optio ducimus inventore architecto beatae adipisci explicabo repudiandae dolores nam laborum, sit atque itaque!
        Aut error itaque quos aspernatur molestias esse asperiores, totam commodi voluptas illum libero, praesentium sapiente placeat. Perferendis excepturi provident voluptates. Autem voluptatibus doloremque eius, quidem dicta atque voluptatum impedit molestiae.
        Distinctio labore veniam deleniti quos a at quo modi vero, eos eligendi nesciunt consectetur alias omnis enim quam reprehenderit minima? Corporis dicta mollitia, cupiditate dolorum harum obcaecati modi illo nemo.
        Assumenda quibusdam in eum dolore rem voluptatum inventore beatae ipsum, at tempora impedit maxime perferendis sit harum quis asperiores nostrum minima consequatur culpa quas vel nisi ex neque incidunt! Incidunt?
        Sequi nisi vitae, ullam eos neque, blanditiis velit error sit alias libero esse sed quisquam iste aperiam. Ducimus, accusamus nostrum id quo maxime optio impedit aspernatur illum neque. Odit, ipsum?
        Enim illo dolorem dicta facilis delectus distinctio, quia a error et numquam obcaecati omnis amet quae temporibus magnam reiciendis fuga, nobis saepe nisi possimus repellendus exercitationem hic quos nesciunt? Vero.
        Fugiat, eum tempora voluptas necessitatibus cumque consectetur nam ut! Harum unde veritatis rerum obcaecati eius! Ex, veritatis officiis! Quis consequatur temporibus laboriosam ab aliquam veniam similique? Est quisquam voluptatibus nemo.
        Nesciunt reprehenderit suscipit voluptate et perferendis eveniet temporibus accusantium! Eligendi esse, sit officiis quibusdam quia cum quas ea earum corrupti qui cumque unde nulla deleniti similique ullam inventore dolore ex.
        In ipsum quia aperiam quasi est ducimus perspiciatis, quod nam, minus ex a odio quam magnam laudantium reiciendis sint sunt laboriosam praesentium iure cum. Dolore quaerat alias aliquam quis delectus!
        Suscipit necessitatibus molestiae vitae iure ipsa corrupti consequuntur natus est a nulla, sint amet ipsum laudantium cumque qui laborum voluptatem maiores provident ipsam tempora impedit nam veniam accusantium accusamus! Facere?
        Voluptatum magni culpa dolore quasi odit magnam? Tempore assumenda corporis omnis eligendi quas, laboriosam itaque voluptatem! Laborum, veritatis ab! Numquam nobis nostrum recusandae vero qui. Sit amet autem voluptatum quaerat, sapiente magnam minus voluptates?
      </span>
    </div>
    <div class="bottom-shadow"></div>
    <div class="scroll-down-note">
      <span (click)="scrollToBottom()"><b>Scroll Down</b> to See <b>More</b></span>
    </div>
  </div>
</div>
